/* Global Styles */
body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  display: flex;
  max-width: 800px;
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Form Container */
.form-container {
  flex: 1;
  padding: 40px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

p {
  margin-bottom: 20px;
  color: #667;
}

/* Input Fields */
.input-group {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

.link {
  margin-left: 05px;
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Illustration Container */
.illustration-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.illustration-container img {
  max-width: 100%;
  height: auto;
}